<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="#"
          th:action="@{/admin/edit}"
          th:object="${user}"
          method="post">
        <input hidden="hidden" type="number" th:field="*{id}" id="idAdd" placeholder="id">
        <label for="firstNameUpdate">Username</label>
        <input type="text" th:field="*{username}" id="userName" placeholder="Username">
        <label for="firstNameUpdate">Password</label>
        <input type="password" th:field="*{password}" required id="password" placeholder="Password">
        <label>Select role:
            <div class="checkbox-container"
                 th:each="role : ${allRoles}">
                <input type="checkbox"
                       th:name="ids"
                       th:value="${role.id}"
                       th:id="${'role'+role.id}" />
                <label th:for="${'role'+role.id}" th:text="${role.name}"></label>
            </div>
        </label>
        <label for="firstNameUpdate">Имя</label>
        <input type="text" th:field="*{firstName}" id="firstNameUpdate" placeholder="Имя">
        <br>
        <label for="lastNameUpdate">Фамилия</label>
        <input type="text" th:field="*{lastName}" id="lastNameUpdate" placeholder="Фамилия">
        <br>
        <label for="emailUpdate">Эл. почта</label>
        <input type="text" th:field="*{email}" id="emailUpdate" placeholder="Эл. почта">
        <br>
        <input type="submit" value="Изменить пользователя">
    </form>
</div>
</body>
</html>