<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>
<div class="tab-pane fade show active border" id="table" role="tabpanel"
     aria-labelledby="table-tab">


    <!--    текст аллюзерс     -->
    <h5 class="p-3 mb-0 border-bottom"> Все пользователи</h5>

    <!--    ТАБЛИЦА    -->
    <div class="col p-3 bg-white">
        <table class="table table-striped table-hover border-top">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Возраст</th>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Роль</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody id="tBody"></tbody>
        </table>
    </div>
</div>

<script src="../static/app.js"></script>
</body>
</html>